:root{
    --bg-color:#000;
    --snd-bg-color:#111;
    --text-color:#fff;
    --main-color:#1ad609fd;
    --review-color: rgb(3, 7, 5);
}

.review{
    background-color: var(--review-color);
    padding-bottom: 80px;
}
.review-box{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.review .heading{
margin-bottom: 5rem;
font-size: 50px;
}
.review-box img{
    object-fit: cover;
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.review-item{
    min-width: 280px;
    min-height: 450px;
    background: var(--snd-bg-color);
    border: 3px solid rgba(238,238,238,0.3);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #fff;
    transition: .5s ease-in-out;
}
.review-item p{
    word-break: break-all;
}
.review-item:hover{
    border: 3px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
    background: var(--snd-bg-color);
    box-shadow: 1rem 1rem 1rem var(--main-color);
}

.review-item h2{
    font-size: 2.8rem;
}
.review-item p{
    font-size: 1.5rem;
    color: rgb(226, 247, 240);
    line-height: 1.3;
}
#star{
    color: gold;
    font-size: 2rem;
}

@media screen and (max-width:1284px){
    .review-item{
        padding: 30px 30px;
    }
}
@media screen and (max-width:1215px){
    .review .wrapper{
      display: flex;
      flex-direction: column;
    }
    .review-item{
      padding: 30px 70px;
  }
    
  }